<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>FormFiller</title>
</head>
<body>
<h1>Patient Connect FormFiller</h1>
<p>When would you like to take your Covid test?</p>
<form action="/time0/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t0}}</button>
</form>
<form action="/time1/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t1}}</button>
</form>
<form action="/time2/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t2}}</button>
</form>
<form action="/time3/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t3}}</button>
</form>
<form action="/time4/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t4}}</button>
</form>
<form action="/time5/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t5}}</button>
</form>
<form action="/time6/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t6}}</button>
</form>
<form action="/time7/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t7}}</button>
</form>
<form action="/time8/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t8}}</button>
</form>
<form action="/time9/">
    <button type="submit" class="btn btn-primary btn-block btn-large">{{t9}}</button>
</form>
<br>
<br>
{{status_message}}
</body>
</html><!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>FormFiller</title>
</head>
<body>
<h1>Patient Connect FormFiller</h1>
<p>When would you like to take your Covid test?</p>
<form action="/time1">
    <button type="submit" class="btn btn-primary btn-block btn-large"></button>
</form>
<br>
<br>
{{status_message}}
</body>
</html>