<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>FormFiller</title>
</head>
<body>
<h1>Patient Connect FormFiller</h1>
<p>Where would you like to take your Covid test?</p>
<form action="/loc0/">
    <button type="submit" class="btn btn-primary btn-block btn-large">
        BU 808 Gallery Testing Collection Site<br>
        808 Commonwealth Avenue<br>
        Hours: 8 am&#8212;9 pm, 7  days a week<br>
        <i>(Closed for a scheduled shift change: 2&#8212;2:15 pm)</i>
    </button>
</form>
<form action="/loc1/">
    <button type="submit" class="btn btn-primary btn-block btn-large">
        BU Medical Campus Testing Collection Site<br>
        72 East Concord Street, Room R107<br>
        Hours: 7 am&#8212;8 pm, 7 days a week<br>
        <i>(Closed for cleaning: 10:15&#8212;11 am, 1&#8212;1:30 pm, 3:45&#8212;4:30 pm)</i>
    </button>
</form>
<br>
<br>
{{status_message}}
</body>
</html>