<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>FormFiller</title>
</head>
<body>
<h1>Patient Connect FormFiller</h1>
<p>Would you like to complete the survey, book an appointment, or both?</p>
<form action="/survey/">
    <button type="submit" class="btn btn-primary btn-block btn-large">Survey</button>
</form>
<form action="/appointment/">
    <button type="submit" class="btn btn-primary btn-block btn-large">Appointment</button>
</form>
<form action="/both/">
    <button type="submit" class="btn btn-primary btn-block btn-large">Both</button>
</form>
<br>
<br>
{{status_message}}
</body>
</html>