<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Patient Connect Autofill</title>
</head>
<body>
<h1>Patient Connect Autofill</h1>
<p>Please enter your BU username and password. This information will not be stored.</p>
<form action="/home/" method="post">
    <input type="text" size="20" name="username" placeholder="Username"/><br>
    <input type="password" size="20" id="myInput" name="password" placeholder="Password"/>
    <input type="checkbox" onclick="myFunction()">Show Password<br>
    <button type="submit" class="btn btn-primary btn-block btn-large">Start</button>
</form>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<br>
<br>
{{status_message}}
</body>
</html>